nav {
    display:flex ;
     justify-content: space-between;
     align-items: center;
     margin 0px 200px ;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.tittle{

        font: size 75px; ;
        font: weight 1000px; ;
        color: black;
        align-items: center;
        padding-left: 150px;
}


.section-tittle{

                color: black;
                text-align: center;
                font-size: 35px;
                font-weight: 700px;
                  
}

.banner-description{
    color: #13d1c8;
    text-align: center;
    font-size: 20px;




}

.btn-primary{
    border-radius: 5px;
    background-color: #ffa200;
    border: 0;
    color: aqua;
    font-size: 20px;
    font-weight: 700px;
    padding: 18px 35px;

}

.color{
    color: orange;

}

nav > ul{

    display:flex ;
    align-items:center;
   
}

nav li{

    list-style: none;
    margin-right: 50px;
}


nav a{
text-decoration: none;
color: brown;

}
.header{
    background-color:#ebc390;
    background-image:url('../images/rainbow\ 1.jpg');
    background-repeat: no-repeat;
    background-position: bottom right ;
}

.banner{
  padding:30px 30px 0px 150px ;
  display: flex;
  align-items: center;

}
.banner .profile-pic{
                         width: 500px;
                         justify-content: space-between;


}



.banner-greating{
                font-size: 45px;
                color: green;
                margin-bottom: 0;

}

.banner-tittle{
    font-size: 85px;
    font-weight: 800px;
    margin-top: 5px;
    margin-bottom:20px ;



}


.banner-description{
        width: max-content;

}

.banner-content{
    max-width: 500px;

}
main{
        max-width: 1140px;
        margin: 0px auto ;

}

main section{

   
}

.about{
    padding: 130px;
    border-radius: 10px;
    background:#5ebac68c ; 
    margin: 130px 0px ;
    

}



.about-onfo-container{
    display: flex;
    justify-content: space-arounds;

    }

    .about-onfo{
            text-align: center;


    } 


#what-i-do-description{

    padding: 30px 300px ;
}

.skill-container{

                display: flex;
                gap: 24px;



}
.skill{
            padding: 30px;
            border-radius: 1px;
            background: #f3f8f8;
            box-shadow: 0px 6px 50px 0px;
            box-sizing: content-box;




}



.skill-description{
    color: ;
   
}



.resume-colaum-tittle{
        color: cadetblue;
        font-size: 30px;
        font-weight: 700px;



}